@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root,
	:root[data-theme="light"] {
		color-scheme: light;
		--theme-bg: 0deg 0% 95%;
		--theme-link: 180deg 30% 55%;
		--theme-text: 210deg 10% 25%;
		--theme-accent: 340deg 50% 60%;
		--theme-accent-2: 0deg 0% 20%;
		--theme-quote: 340deg 50% 60%;
	}

	:root[data-theme="dark"] {
		color-scheme: dark;
		--theme-bg: 210deg 15% 8%;
		--theme-link: 200deg 80% 65%;
		--theme-text: 210deg 10% 90%;
		--theme-accent: 200deg 60% 70%;
		--theme-accent-2: 210deg 50% 40%;
		--theme-quote: 200deg 70% 75%;
	}
}
